.show_dropdown_lesson__true {
  animation: show_dropdown_true 0.25s forwards ease-in-out;
}

.show_dropdown_lesson__false {
  animation: show_dropdown_false 0.25s forwards ease-in-out;
}

@keyframes show_dropdown_true {
  from {
    opacity: 0;
    height: 0;
    overflow: hidden;
  }
  to {
    opacity: 1;
    height: fit-content;
  }
}

@keyframes show_dropdown_false {
  from {
    opacity: 1;
    height: fit-content;
  }
  to {
    opacity: 0;
    height: 0;
    overflow: hidden;
  }
}
